<template>
  <div>
    <div id="editor"></div>
  </div>
</template>

<script>
import Konva from 'konva'
export default {
  created () {
    this.layers = {}
  },
  mounted () {
    this.canvas = new Konva.Stage({
      container: 'editor',
      width: '400',
      height: '400',
      draggable: false
    })

    this.layers.points = new Konva.Layer()
    this.drawGrid()
    this.drawBlueLine()
    this.canvas.add(this.layers.points)
  },
  data () {
    return {
      points: []
    }
  },
  computed: {
    pointsId () {
      return this.points.reduce((arr, current) => {
        arr.push(current._id)
        return arr
      }, [])
    },
    pointsCordinats () {
      return this.points.reduce((arr, current) => {
        arr.push(current.x)
        arr.push(current.y)
        return arr
      }, [])
    }
  },
  methods: {
    drawBlueLine () {
      this.blueLine = new Konva.Line({
        points: [],
        stroke: 'blue',
        strokeWidth: 2,
        lineCap: 'round',
        lineJoin: 'round'
      })
      this.layers.points.add(this.blueLine)
    },
    drawGrid () {
      this.layers.grid = new Konva.Layer()
      for (let i = 10; i <= 400; i += 10) {
        for (let j = 10; j <= 400; j += 10) {
          let point = new Konva.Circle({
            x: i,
            y: j,
            radius: 1,
            fill: '#888',
            stroke: 'rgba(0, 0, 0, 0)',
            strokeWidth: 7
          })
          point.on('click', e => {
            if (this.pointsId.includes(e.target._id)) {
              this.points = this.points.filter(point => point._id !== e.target._id)
              e.target.fill('#888').radius(1).draw()
            } else {
              this.points.push({'_id': e.target._id, x: e.target.attrs.x, y: e.target.attrs.y})
              e.target.fill('green').radius(4).draw()
            }
            this.blueLine.points(this.pointsCordinats).draw()
          })
          this.layers.grid.add(point)
        }
      }
      this.canvas.add(this.layers.grid)
    }
  }
}
</script>

<style>
  * { padding: 0; margin: 0; }
  .konvajs-content { background: #fff; display: block; margin: 0 auto; border: 1px solid #0095DD;}
</style>
