<template>
  <div class="hello">
    <Editor />
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
import Editor from './Editor'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Editor for knit'
    }
  },
  components: {
    Editor
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
